/* Topo */
.topo-contato {
    height: 437px;
    background: url('/imgs/QuemSomos/banner-topo.jpg') no-repeat;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat;
    margin-bottom: 40px;
}

.coracao {
    background: url('/imgs/QuemSomos/coracao.png') no-repeat;
    position: absolute;
    left: 10px;
    margin-top: -296px;
    width: 400px;
    height: 319px;
}

.colum-right { margin-bottom: 50px; }
.texto-topo {
    text-align: center;
    color: white;
    margin-top: 280px;
    font-weight: bold;
    font-size: 2em;
}

.quem-somos {
    text-align: left !important;
    width: unset !important;
    clear: both;
    clear: both;
    font-size: 1.5em;
    margin-left: -10px !important;
}
.quem-somos:hover { color: white; }
.quem-somos:after {
    width: 60px;
    height: 3px;
    background: white;
    content: "";
    display: block;
    margin: 0;
    margin-top: 3px;
    transition: 0.3s;
}

#textos .colunas {
    margin-bottom: 20px;
}


/* Curadores */

.box-curadores {
    height: 550px;
}

.img-curadores {
    width: 100%;
    height: 266px;
    background-repeat: no-repeat;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-position: bottom !important;
    background-size: cover !important;
    background-repeat: no-repeat;
    margin-bottom: 30px;
}

.box-texts-curadores {
    margin-bottom: 30px;
    height: 250px;
    overflow-y: auto;
}
#curadores .title {
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}
#curadores .sub-title {
    text-align: center;
    font-size: 1em;
    color: #727272;
    font-style: italic;
    margin: 0 0 20px 0;
}
#curadores p {
    text-align: center;
    font-size: 0.9em;
    color: #727272;
}


/* Equipe */
#equipe .box-equipe {
    background-color: #ffc636;
    min-height: 538px;
    margin-bottom: 100px;
    transition: 0.3s;
}

#equipe .imagem {
    position: absolute;
    width: 360px;
    height: 538px;
    margin: -20px;

    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat;
}

#equipe .bolhas-decorativas {
    background: url('/imgs/QuemSomos/bolhas-decorativas.png') no-repeat;
    width: 171px;
    height: 171px;
    position: absolute;
    margin: 407px 0px 0 227px;
}

#equipe .textos {
    margin-left: 400px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-right: 20px;
}

#equipe .textos p {
    color: white;
    font-size: 1.1em;
    line-height: 1.8em;
    padding: 0;
    margin: 0;
}

#equipe .textos p.title {
    font-weight: bold;
    padding-bottom: 5px;
}




@media (max-width: 991px)
{
    #equipe .box-equipe {
        margin-bottom: 8px;
        transition: 0.3s;
    }

    #equipe .container {
      margin: 0;
      padding: 0;
      width: 100%;
    }

    #equipe .imagem {
        position: relative;
        width: auto;
        height: 300px;
        margin: 0;
        -webkit-background-size: cover !important;
        -moz-background-size: cover !important;
        -o-background-size: cover !important;
        background-position: center !important;
        background-size: cover !important;
        background-repeat: no-repeat;
    }


    .quem-somos {
        margin: 15px 0 30px 0;
    }

    #equipe .textos {
      margin: 0 20px;
    }
    #equipe .textos p {
      font-size: 0.9em !important;
    }
}





.perfil_quemsomos img {
    /* position: absolute; */
    display: inline-block;
    margin-top: -20px;
    margin-left: -25px;
    width: 350px;
}

.perfil_quemsomos .conteudo {
    float: right;
    margin: 50px 70px;
    font-family: 'Montserrat', sans-serif;
    display: block;
}

.perfil_quemsomos .conteudo p {
    font-size: 16px;
    line-height: 31px;
    font-weight: 500;
    margin-top: 40px;
    color: #fff;
    /* text-shadow: 1px 1px #00000057; */
}

.perfil_quemsomos .conteudo h1 {
    font-weight: 800;
    font-size: 32px;
}

.perfil_quemsomos .conteudo h1:after {
    content: "";
    width: 70px;
    height: 4px;
    background: #fff;
    position: absolute;
    left: 15px;
    top: 62px;
}

.perfil_quemsomos {
    background: #ffc636;
    margin-left: 25px;
    display: inline-block;
    margin-top: 80px;
}

.perfil_quemsomos:first-child {
    margin-top: 40px;
}
