
.icon-menu:before { content: '\e800'; } /* '' */
.icon-relógio-vazado:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\e802'; } /* '' */
.icon-whatsapp:before { content: '\e803'; } /* '' */
.icon-youtube:before { content: '\e804'; } /* '' */
.icon-$-0:before { content: '\e805'; } /* '' */
.icon-$-1:before { content: '\e806'; } /* '' */
.icon-$-2:before { content: '\e807'; } /* '' */
.icon-$-3:before { content: '\e808'; } /* '' */
.icon-$-4:before { content: '\e809'; } /* '' */
.icon-$-5:before { content: '\e80a'; } /* '' */
.icon-a:before { content: '\e80b'; } /* '' */
.icon-calandário:before { content: '\e80c'; } /* '' */
.icon-facebook:before { content: '\e80d'; } /* '' */
.icon-instagram:before { content: '\e80e'; } /* '' */
.icon-localização-vazada:before { content: '\e80f'; } /* '' */
.icon-lupa:before { content: '\e810'; } /* '' */